/*Marek Urbaniec Portfolio custom CSS*/
body {
    width: 100%;
    height: auto;
}

.BrandText {
    font-family: 'Lato', sans-serif;
}

.landing {
    display: flex;
}

.home-inner {
    background-image: url(photo/background.jpg);

}

section.one {
    display: flex;
    height: 100vh;
    position: relative;
    background: url(../photo/background.jpg) top no-repeat;
    background-size: cover;
    transition: all .4s;
    justify-content: center;
    align-items: center;
}

section.one h3 {
    font-family: 'Lato', sans-serif;
    font-size: 10vh;
    margin: 0;
    color: #4a4a4a;
    text-align: center;

    /* text-transform: uppercase; */
}

section.one p {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

section.two {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me-card {
    padding: 10vh 10vh;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-sizing: border-box;
}
@media (max-width: 550px){
    .about-me-card{
        flex-direction: column;
    }
}

.about-me-card span {
    font-family: 'Raleway', sans-serif;
    font-size: 3vh;
    font-weight: 700;
}

.about-me-header {
    align-self: flex-start;
    margin-top: 10vh;
    margin-left: 5vw;

}

.about-me-card img {
    width:10vw;
}

.profile-image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.quick-info {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    box-sizing: border-box;

}

.long-info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 2vh;
    
}

.color {
    color: #46a832;
}

section.three{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills-header{
    align-self: flex-start;
    margin-top: 10vh;
    margin-left: 5vw;   
}
.skills-container{
    padding: 10vh 10vh;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.skill{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width:33%;
}
@media(max-width:550px){
    .skills-container{
        flex-direction: column;
    }
    .skill{
        width: 90%;
    }
}

.skill img{
    width: 50%;
    height: 50%;
}

.skill h1{
    color: #46a832;
    font-size: 4vh;
}
.skill h3{
    color: black;
    font-size: 3vh;
}

.skill:nth-child(1){
    grid-column:1;
}
.skill:nth-child(2){
    grid-column:2;
}
.skill:nth-child(3){
    grid-column:3;
}
