/*Marek Urbaniec Portfolio custom CSS*/
:root {
  --main-color: #46a832;
  --second-color: #73bd63;
}

/* var(--main-color) */

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  transition: all 0.4s;
}

.brandText {
  font-family: "Lato", sans-serif;
}

.home-inner {
  background-image: url(photo/background.jpg);
}

section.one {
  display: flex;
  height: 100vh;
  width: 100vw;

  background: url(../photo/background.jpg) top no-repeat;
  background-size: cover;
  transition: all 0.4s;
  justify-content: center;
  align-items: center;
}

.home-text {
  text-align: center;
}

section.one h1 {
  font-family: "Lato", sans-serif;
  font-size: 2.25rem;
  margin: 0;
  color: #4a4a4a;
  text-align: center;

  /* text-transform: uppercase; */
}

section.one p {
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-align: center;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*Section TWO */

section.two {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me-header {
  flex-grow: 3;
  padding-top: 20%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.about-me-card {
  flex-grow: 7;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin-bottom: 5%;
  box-sizing: border-box;
}
.profile-image img {
  width: 100%;
  box-sizing: border-box;
}

.profile-image {
  display: flex;
  justify-content: center;
  width: 30%;
  box-sizing: border-box;
}

.quick-info h3 {
  word-wrap: break-word;
}

.quick-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  box-sizing: border-box;
}
.quick-info h3 {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
}

.long-info {
  width: 100%;
  display: flex;
  text-align: center;
  padding-top: 2rem;
  font-size: 0.75rem;
  box-sizing: border-box;
}

span.green {
  color: var(--main-color);
}

span.green a {
  color: var(--main-color);
}

/* Section three */
section.three {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-header {
  flex-grow: 3;
  padding-top: 20%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.skills-container {
  flex-grow: 7;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin-bottom: 5%;
  box-sizing: border-box;
}

.skill {
  flex-basis: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.skill img {
  width: 25%;
  height: 25%;
}

.skill h4 {
  font-size: 2rem;
  color: var(--main-color);
}

.skill h5 {
  font-size: 0.75rem;
}
section.four {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-header {
  flex-grow: 2;
  padding-top: 20%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.contact-container {
  flex-grow: 8;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin-bottom: 5%;
  box-sizing: border-box;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: var(--second-color);
  border-radius: 2%;
  color: white;
  width: 100%;
}
.contact-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-social-media a {
  color: white;
}
.contact-social-media i {
  padding: 1rem;
  font-size: 1rem;
}

.contact-social-media i:hover {
  color: yellow;
}

.contact-section h4 {
  font-size: 0.5rem;
}

.contact-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.contact-section i {
  font-size: 0.75rem;
  padding: 1rem;
}

.contact {
  flex-grow: 5;
}

.mail-link {
  color: white;
}

.mail-link:hover {
  color: yellow;
}

.form-box {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.input-text {
  font-size: 0.5rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border: none;
  align-self: center;
  height: 2rem;
  background-color: #f8f9fa;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.text-area {
  font-size: 0.5rem;
  margin-top: 1rem;
  align-self: center;
  padding-left: 5%;
  padding-top: 5%;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  min-height: 5rem;
  background-color: #f8f9fa;
}

.contact-btn {
  margin-top: 1rem;
}

@media only screen and (max-width: 300px) {
  .brandText {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  section.one h1 {
    font-size: 3.25rem;
  }
  section.one p {
    font-size: 1rem;
  }
  /* Section TWO */

  .profile-image {
    flex-grow: 35%;
  }
  .quick-info h3 {
    font-size: 1.25rem;
    line-height: 1.95rem;
  }

  .long-info {
    font-size: 1.25rem;
    line-height: 1.95rem;
  }

  .about-me-header {
    padding-top: 10%;
  }

  .skills-header {
    padding-top: 10%;
  }
  .skill {
    padding-top: 1rem;
  }
  .skills-container {
    padding: 0;
  }
  .skill h4 {
    font-size: 2.5rem;
    color: var(--main-color);
  }

  .skill h5 {
    font-size: 1.25rem;
  }
  .contact-header {
    padding-top: 10%;
  }
  .contact-section h4 {
    font-size: 0.75rem;
  }

  .contact-social-media i {
    padding: 1.25rem;
    font-size: 1.75rem;
  }
  .text-area {
    font-size: 0.75rem;
  }
  .input-text {
    font-size: 0.75rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-me-card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-me-header {
    flex-grow: 2;
    padding: 0;
    display: flex;
  }

  .profile-image {
    flex-basis: 30%;
  }
  .quick-info {
    flex-basis: 70%;
  }

  .quick-info h3 {
    font-size: 1.3rem;
    line-height: 2.25rem;
    text-align: left;
  }
  .long-info {
    font-size: 1.6rem;
    line-height: 2.61366rem;
  }
  .skill {
    padding-top: 1.25rem;
  }
  .skill h4 {
    font-size: 3.25rem;
  }
  .skill h5 {
    font-size: 1.25rem;
  }

  .skills-header {
    padding-top: 8%;
  }

  .contact-header {
    padding-top: 8%;
  }
  .contact-section h4 {
    padding: 0 1rem;
    font-size: 1.1rem;
  }

  .contact-social-media i {
    padding: 2rem;
    font-size: 2rem;
  }
  .input-text {
    font-size: 1rem;
    height: 3rem;
  }
  .text-area {
    font-size: 1.25rem;
  }
  .contact-section {
    padding: 1rem;
  }
  .contact-section i {
    font-size: 1.75rem;
    padding: 2rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  section.one h1 {
    font-size: 5rem;
  }
  section.one p {
    font-size: 1.5rem;
  }
  .about-me-header {
    flex-grow: 1;
    padding-top: 5%;
  }

  .about-me-card {
    flex-grow: 9;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
  }

  .profile-image {
    flex-basis: 30%;
  }
  .quick-info {
    flex-basis: 70%;
  }

  .quick-info h3 {
    text-align: left;
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .long-info {
    font-size: 1.7rem;
    line-height: 2.8rem;
    flex-basis: 100%;
    padding-left: 100px;
  }
  .skills-header {
    padding-top: 8%;
  }

  .skills-container {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skill img {
    width: 50%;
    height: 50%;
  }

  .skill h4 {
    font-size: 2rem;
  }
  .skill h5 {
    font-size: 0.75rem;
  }
  .contact-header {
    height: 20%;
  }
  .contact-container {
    flex-direction: row;
  }
  #four {
    height: 100vh;
  }
  .contact-container {
    height: 80%;
    padding: 5%;
    align-items: stretch;
  }

  .form-box {
    padding-top: 0;
  }
  .contact-box {
    margin-right: 2rem;
  }
  .contact-header {
    padding-top: 5%;
  }
  .contact-section h4 {
    padding: 0 1rem;
    font-size: 1.1rem;
  }
  .contact-section i {
    font-size: 1.75rem;
    padding: 3rem;
  }

  .contact-social-media i {
    padding: 2rem;
    font-size: 2rem;
  }
  .input-text {
    font-size: 1rem;
    height: 3rem;
  }
  .text-area {
    font-size: 1.25rem;
  }
  .contact-section {
    padding: 1rem;
  }
  .input-text:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1400px) {
  section.one h1 {
    font-size: 5rem;
  }
  section.one p {
    font-size: 1.5rem;
  }
  .about-me-header {
    flex-grow: 1;
    padding-top: 5%;
  }

  .about-me-card {
    flex-grow: 9;
    flex-direction: row;
    padding: 5%;
  }

  .profile-image {
    flex-basis: 25%;
    padding-right: 5%;
  }
  .quick-info {
    flex-basis: 37%;
    padding-left: 5%;
  }

  .quick-info h3 {
    text-align: left;
    font-size: 1.6rem;
    line-height: 3rem;
  }
  .long-info {
    font-size: 1.7rem;
    line-height: 2.8rem;
    flex-basis: 37%;
    padding-left: 5%;
  }

  .skills-header {
    flex-grow: 1;
    padding-top: 5%;
  }

  .skills-container {
    flex-grow: 9;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skill img {
    width: 50%;
    height: 50%;
  }

  .skill h4 {
    font-size: 3rem;
  }
  .skill h5 {
    font-size: 0.95rem;
  }
  #four {
    height: 100vh;
  }

  .contact-container {
    padding: 5%;
    flex-direction: row;
  }
  .contact-container {
    height: 80%;
    align-items: stretch;
  }
  .form-box {
    padding-top: 0;
  }
  .contact-box {
    margin-right: 2rem;
  }
  .contact-header {
    height: 20%;
    padding-top: 5%;
  }
  .contact-section i {
    font-size: 2rem;
    padding: 3rem;
  }
  .contact-section h4 {
    padding: 0 1rem;
    font-size: 1.1rem;
  }

  .contact-social-media i {
    padding: 2rem;
    font-size: 2rem;
  }
  .input-text {
    font-size: 1rem;
    height: 3rem;
  }
  .text-area {
    font-size: 1.25rem;
  }
  .contact-section {
    padding: 1rem;
  }
  .input-text:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 2500px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  #logo {
    height: 4rem;
    padding-right: 2rem;
  }

  .brandText {
    font-size: 2rem;
  }
  .skill h4 {
    font-size: 3.5rem;
  }
  .skill h5 {
    font-size: 1.25rem;
  }
  .contact-section i {
    font-size: 3rem;
    padding: 3rem;
  }
  .contact-section h4 {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .contact-social-media i {
    padding: 3rem;
    font-size: 3rem;
  }
  .input-text {
    font-size: 1.25rem;
    height: 3.25rem;
  }
  .text-area {
    font-size: 1.5em;
  }
  .contact-section {
    padding: 1rem;
  }
  .input-text:first-child {
    margin-top: 0;
  }
  .contact-btn {
    font-size: 2rem;
    padding: 1.25rem;
  }
}

@media only screen and (min-width: 3000px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 5rem;
    padding-right: 4rem;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  section.one h1 {
    font-size: 12rem;
  }
  section.one p {
    font-size: 4rem;
  }
  #logo {
    height: 8rem;
    padding: 0 2rem;
  }
  h2 {
    font-size: 5rem;
  }

  .brandText {
    font-size: 5rem;
  }

  .quick-info h3 {
    font-size: 3.5rem;
    line-height: 6rem;
  }
  .long-info {
    font-size: 3.5rem;
    line-height: 5rem;
  }
  .skills-header {
    padding-top: 8%;
  }
  .skill h4 {
    font-size: 8rem;
  }
  .skill h5 {
    font-size: 3rem;
  }
  .contact-header {
    padding-top: 8%;
  }
  .contact-section h4 {
    padding: 1.25rem 4rem;
    font-size: 4rem;
  }
  .contact-section {
    padding: 1rem;
  }
  .contact-section i {
    font-size: 8rem;
    padding-bottom: 4rem;
  }
  .contact-social-media {
    padding: 3rem 0;
    box-sizing: border-box;
  }
  .contact-social-media i {
    padding: 4rem;
    font-size: 8rem;
  }
  .input-text {
    font-size: 4rem;
    height: 12rem;
    margin-bottom: 5rem;
    padding-left: 5%;
  }
  .text-area {
    font-size: 4rem;
  }

  .input-text:first-child {
    margin-top: 0;
  }
  .contact-btn {
    font-size: 5rem;
    padding: 3rem;
    border-radius: 2rem;
    margin-top: 3rem;
  }
}
